.background {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 400px;
  z-index: -1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.movie-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 8rem auto;
}

.favorite-btn {
  width: 100%;
  max-width: 200px;
  padding: 0.8rem 2rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(192, 36, 36);
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.15s ease-in-out;
}
.favorite-btn-disabled {
  width: 100%;
  max-width: 200px;
  padding: 0.8rem 2rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #db6a6a;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  cursor: default;
}

.favorite-btn:active {
  transform: scale(0.98);
}
.favorite-btn:hover {
  background-color: #db6a6a;
}

.movie-info-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.movie-info-right-side {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin-left: 1rem;
  background-color: #5f542b;
  padding: 2rem;
  border-radius: 15px;
}

.movie-info-right-side p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.movie-info-poster {
  max-width: 500px;
}

.back-arrow {
  font-size: 2rem;
  position: absolute;
  top: 25px;
  left: 15px;
}

@media screen and (max-width: 1182px) {
  .movie-info-section {
    flex-direction: column;
  }
  .movie-info-right-side {
    margin-left: 0;
    text-align: center;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 710px) {
  .background {
    background-size: contain;
  }
}

@media screen and (max-width: 664px) {
  .movie-info-left-side,
  .movie-info-right-side {
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 552px) {
  .back-arrow {
    font-size: 1.5rem;
    top: 12px;
  }
}

@media screen and (max-width: 376px) {
  .back-arrow {
    font-size: 1.75rem;
    top: 50px;
  }
}

@media screen and (max-width: 512px) {
  .movie-header {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 424px) {
  .movie-info-section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
