.favorites-back-arrow {
  font-size: 2rem;
  position: absolute;
  top: 25px;
  left: 15px;
}

.favs-h1 {
  text-align: center;
  margin: 0rem auto 1rem auto;
  font-size: clamp(2.8rem, 8vw, 4rem);
}

.favorite-page-movie-poster {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
}

.remove-favorite-btn {
  position: absolute;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  background-color: #100e04;
  font-size: 2.25rem;
  cursor: pointer;
  right: 0px;
  top: 0px;
  padding: .5rem;
}

@media screen and (max-width: 900px) {
  .favorite-page-movie-poster {
    max-width: 72%;
  }
}

@media screen and (max-width: 582px) {
  .favorites-back-arrow {
    top: 10px;
  }
}
@media screen and (max-width: 344px) {
  .favorites-back-arrow {
    font-size: 1.7rem;
    top: 20px;
  }
}
