.home-page-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.home-page-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 400px;
}

.movie-poster-wrapper {
  overflow: hidden;
}

.home-page-movie-poster {
  max-width: 45%;
  margin: 0 auto;
}

.home-page-movie-poster:hover {
  animation: posterGrow 1.25s ease-out;
}

@keyframes posterGrow {
  50% {
    transform: scale(1.3);
  }
}

.home-page-favorite-btn {
  width: 100%;
  max-width: 200px;
  padding: 0.8rem 2rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(192, 36, 36);
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  transition: background-color 0.15s ease-in-out;
}
.home-page-favorite-btn:active {
  transform: scale(0.98);
}
.home-page-favorite-btn:hover {
  background-color: #db6a6a;
}
.fav-btn-wrapper {
  width: 100%;
  margin: 2rem auto 1rem auto;
  text-align: center;
}

.year {
  font-size: 1.1rem;
}

.home-page-movie-title {
  font-size: clamp(1.1rem, 4.5vw, 1.7rem);
  text-align: center;
}

.movie-basic-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
  max-width: 500px;
  width: 85%;
  min-height: 84px;
}

footer {
  text-align: center;
  padding: 1rem;
  position: relative;
}
.scroll-to-top {
  color: white;
  position: fixed;
  bottom: 15px;
  left: 40px;
  font-size: 2.5rem;
}
.scroll-to-top:hover {
  color: #d6c997;
}

@media screen and (max-width: 903px) {
  .home-page-movie-poster {
    max-width: 72%;
  }
  .movie-basic-info {
    min-height: auto;
  }
}

@media screen and (max-width: 512px) {
  .scroll-to-top {
    left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .scroll-to-top {
    left: 12px;
  }
}

@media screen and (max-width: 340px) {
  .scroll-to-top {
    left: 7px;
  }
}

@media screen and (max-width: 352px) {
  .home-page-movie-title {
    text-align: center;
  }
}
