@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #716844;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  margin: .5rem auto 1rem auto;
  font-size: clamp(2rem, 8vw, 4rem);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}